<h3>Serviço Prestado</h3>
<ol class="breadcrumb mb-4">
    <li class="breadcrump-item active">Novo</li>
</ol>
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-success" role="alert" *ngIf="success == true">
            Serviço salvo/atualizado com sucesso!
        </div>

        <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
            {{ erro }}
        </div>
    </div>
</div>
<div class="container">
    <form #form="ngForm" (submit)="onSubmit()">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="">Cliente: </label>
                    <select class="form-control" 
                            [ngModelOptions]="{standalone: true}" 
                            [(ngModel)]="servico.clienteId"
                            name="id">
                        <option value="">Selecione..</option>
                        <option *ngFor="let cliente of clientes" 
                                [ngValue]="cliente.id">
                            {{ cliente.nome }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="descricao">Descrição:</label>
                    <input class="form-control" 
                            type="text" 
                            [(ngModel)]="servico.descricao" 
                            name="descricao" id="descricao">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="data">Data:</label>
                    <input class="form-control" 
                            type="text" 
                            [(ngModel)]="servico.data" 
                            name="data" id="data">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="preco">Preço:</label>
                    <input class="form-control" 
                            type="text" 
                            [(ngModel)]="servico.preco" 
                            name="preco" id="preco">
                </div>
            </div>
        </div>

        <div class="row fluid">
            <div class="col-md-4">
                <button class="btn btn-success">
                   <i class="fa fa-save"></i> Salvar
                </button>

                <button type="submit" class="btn btn-danger ml-1 " routerLink="/servicos">
                    <i class="fa fa-arrow-alt-circle-left"></i> Voltar
                </button>
            </div>
        </div>
    </form>
</div>