<h3>Serviço Prestado</h3>
<ol class="breadcrumb mb-4">
    <li class="breadcrump-item active">Consulta</li>
</ol>

<div class="container">
    <form>
        <div class="row">
            <div class="col-md-6">
                <label for="nome">Nome Cliente:</label>
                <input class="form-control" type="text" [(ngModel)]="nome" name="nome" id="nome">
            </div>
            <div class="col-md-6">
                <label for="mes">Mês</label>
                <select [(ngModel)]="mes" name="mes" id="mes" class="form-control">
                    <option value="">Selecione...</option>
                    <option *ngFor="let mes of meses" [value]="mes">
                        {{ mes }}
                    </option>
                </select>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-3">
                <button class="btn btn-primary" (click)=" consultar()">
                    <i class="fa fa-search"></i>
                </button>

                <button class="btn btn-warning ml-1" routerLink="/servicos/form" type="button">
                    <i class="fa fa-plus"></i> Novo
                </button>
            </div>
        </div>
    </form>

    <div class="row mt-2">
        <div class="col-md-12">
            <table class="table table-condesed table-hover">
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Descrição</th>
                        <th>Preço</th>
                        <th>Data</th>
                    </tr>
                </thead>
               
                <tbody>
                    <tr *ngFor="let servico of lista">
                        <td>{{ servico.cliente.nome }}</td>
                        <td>{{ servico.descricao }}</td>
                        <td>{{ servico.valor }}</td>
                        <td>{{ servico.data }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="alert alert-warning" role="alert" *ngIf="message">
                Nenhum registro encontrado.
            </div>
        </div>
    </div>
</div>